 <!doctype html>
  <html lang="en">
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Prabhavathi's Home Page</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />  <!-- to enable full screen -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

  </head>

  <body>

    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

  <div id="container">
    <div id="header"
      <img src="img/treesheader.jpeg"  alt="Everything is Possible" title="Everything is Possible"> 
    </div>
    
    <div id="sidebar1">
      <div class="sidebarcontent">
        <h3>About the Project </h3>
        <p><strong><em> This project is our mobile version of bitly. The user enters Long URL fo which short URL is generated, if the user does not specify.<br/>
          The app also shows the Trending URLs and Counts/Action per Browser
              </em></strong>
        </p>
      </div>
    </div>
 
    <div id="content">
      <div id="appdiv">
        <div id="appheader">
          <h2>Create a short URL</h1>
        </div><!-- close header -->
        <div class = 'myform'>
          <br>
          <form id="urlShortner" name="urlShortner" method="POST" action ="/create">
            <label for="formurl">Enter a long URL:</label>
            <input type="text" id="formurl" name="formurl" value=""/>
            <span id="alert"></span>
            <br>
            <label class="checkbox inline" id="checkBox" for="check">
              <input type="checkbox" id="check" value="check"> Check this box to enter a shortpath (Optional)
            </label>
            <br>
            <div id="shortpath">
              <label for="formshortpath">Enter the shortpath:</label>
              <input type="text" id="formshortpath" name="formshortpath" value=""/>
              <span id="alertShort"></span>
              <input type="text" id="lat" name="lat" value=""/>
              <input type="text" id="lon" name="lon" value=""/>
            </div>
            <input type="submit" id="submitButton" class="btn" value="Submit" />
          </form>
          <br/><br/>
        </div>
      </div>
    </div>

    <div id="sidebar2">
      <div class="sidebarcontent1">
        <h3>Most followed URLs</h3>
        <ul id="urls"></ul>
       <br/><br/>
    </div>
  </div>
  <div id="footer">
       &copy; Prabhavathi Matta , Haroon Rasheed
       <br> University of California, Berkeley
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script> window.jQuery || document.write('<script src="js/jquery-1.8.2.min.js"><\/script>')</script>
  <script type="text/javascript" src="../static/js/main.js"></script>
  <script>
          var numUrls = "{{ numUrls }}";
          var url0 = "{{ urls.url0 }}";
          var url1 = "{{ urls.url1 }}";
          $('<li></li>').html('<a href="'+url0+'">'+url0+'</a>')
            .appendTo('#urls');
          $('<li></li>').html('<a href="'+url1+'">'+url1+'</a>')
            .appendTo('#urls');
          console.log(url0);          
  </script>
</body>
</html>
