 <!doctype html>
  <html lang="en">
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Prabhavathi's Home Page</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />  <!-- to enable full screen -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

  </head>

  <body>

    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

  <div id="container">
    <div id="header"
      <img src="img/treesheader.jpeg"  alt="Everything is Possible" title="Everything is Possible"> 
    </div>
    
    <div id="container1">
      <div id="sidebar1" class="sidebarcontent">
        <h3>About the Project </h3>
        <p><em> This project is our mobile version of bitly. <hr>The user enters Long URL for which short URL is generated. 
          The user can also specify a specific short path for their long URL.</p>
        <p>The app also shows the following analysis. </p>
        <ul id="sidebar1UL">
          <li>Most Followed URLs</li>
          <li>Trending URLs and </li>
          <li>Counts/Action per Browser</li></em>
        </ul>
      </div>
    <div id="sidebar2">
      <div class="sidebarcontent1">
          <h3>Most followed URLs</h3>
          <ul id="mostfoll"></ul>
          <hr>
          <h3>Browser-Action Count </h3>
          <ul id="browsercount"></ul>
          <hr>
          <h3>Trending URLs (% inc)</h3>
          <ul id="trendingurls"></ul>
        
       <br/><br/>
    </div>
    </div>
 
    <div id="content">
      <div id="appdiv">
        <div id="appheader">
          <h2>Create a short URL</h1>
        </div><!-- close header -->
        <div class = 'myform'>
          <form id="urlShortner" name="urlShortner" method="POST" action ="/create">
            <label for="formurl">Enter a long URL:</label>
            <input type="text" id="formurl" name="formurl" value=""/>
            <span id="alert"></span>
            <br>
            <label class="checkbox inline" id="checkBox" for="check">
              <input type="checkbox" id="check" value="check"> Check this box to enter a shortpath (Optional)
            </label>
            <div id="shortpath">
              <label for="formshortpath">Enter the shortpath:</label>
              <input type="text" id="formshortpath" name="formshortpath" value=""/>
              <span id="alertShort"></span>
              <input type="text" id="lat" name="lat" value=""/>
              <input type="text" id="lon" name="lon" value=""/>
            </div>
            <br>
            <input type="submit" id="submitButton" class="btn" value="Submit" disabled="disabled"/>
          </form>
          <br/><br/>
        </div>
      </div>
    </div>
  </div>
</div>
  <div id="footer">
       &copy; Prabhavathi Matta , Haroon Rasheed
       <br> University of California, Berkeley
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script> window.jQuery || document.write('<script src="js/jquery-1.8.2.min.js"><\/script>')</script>
  <script type="text/javascript" src="../static/js/main.js"></script>

</body>
</html>
