<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>URL Shortner</title>
		<link rel="stylesheet" href="../static/css/bootstrap.css">
		<link rel="stylesheet" href="../static/css/style.css">
	</head>
	<body>
		<h1 id="header">URL Shortner</h1>
		<div id="container">
			<div id="content">
				<div id="display">
					<br>
					<p>Use the below URL to go to {{longURL}}</p>
					<p>{{message}}</p>
					<br>
					<a href="../{{shortPath}}" target="_blank">{{shortPath}}</a>
					<p>Number of clicks for the shortpath is: {{counts}}</p>
					<a href="../"><input type="button" id="newURL" class="btn" value="Shorten another URL"></input></a>
				</div>
			</div>
		</div>
		<div id="footer">
       &copy; Prabhavathi Matta , Haroon Rasheed
       <br> University of California, Berkeley
  </div>
	</body>
</html>
