body {
  font-family: 'livory', serif;
  /*font: 1em/150% Arial, Helvetica, sans-serif;*/
}
a {
  color: #669;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font: bold 36px/100% Arial, Helvetica, sans-serif;
}
/************************************************************************************
STRUCTURE
*************************************************************************************/

#container{
  padding: 15px;
  width: 960px;
  margin: 20px auto;
  background: #f0efef;
  background:url('../img/bckgrnd.jpg') repeat;
  height: 700px;

}
#header {
  height: 200px;
  width: 100%;
  background: url('../img/bg.png')  center repeat;
  background-size: 100%;
}

#sidebar1{
  width: 25%;
  float: left;
  text-align: left;
  
}

#content {
  width: 50%;
  float: left;
  text-align: left;
  border-radius: 7px;

}

#sidebar2 {
  width: 25%;
  float: left;
  background: 'white';
  text-align: left;
}

.sidebarcontent{
  margin:10px;
  margin-top: 30px;
  background-color: 'white';

}

#footer {
  clear: both;
  text-align: left;
}

#copy{
  text-align :left;
}


#appheader {
    background-color: #666;
    color: #FFF;
    height: 40px;
    text-align: center;
}
  #appdiv {
  
    background-color:#e7ebf2;
    width: 100%;
    height: 400px;
    margin-left: auto; 
    margin-right: auto;
    font-weight: ;
    -moz-box-shadow: 5px 15px 15px 5px #222;
   -webkit-box-shadow: 5px 15px 15px 5px #222;
    box-shadow: 5px 15px 15px 5px #222; 
    position:relative;
    animation:myfirst 3s;
-moz-animation:myfirst 3s; /* Firefox */
-webkit-animation:myfirst 3s; /* Safari and Chrome */
  }


.myform{
  padding: 5px;
    /*margin-top: 40px;*/
  

}



@keyframes myfirst {
from {background:#000;}
to {background:#e7ebf2;}
}

@-moz-keyframes myfirst /* Firefox */ {
from {background:#000;}
to {background:#e7ebf2;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */ {
from {background:#000;}
to {background:#e7ebf2;}
}

#shortpath{
  display: none;
}

#lat{
  display: none;
}

#lon{
  display: none;
}

/* ------- Navigation ----------- */

ul#top_nav  {
  border: 1px solid #292929;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-bottom: 50px;

  -webkit-box-shadow: 0 3px 3px #3c3c40;
     -moz-box-shadow: 0 3px 3px #3c3c40;
          box-shadow: 0 3px 3px #3c3c40;
  
}

ul#top_nav li {
  list-style: none;
  float: left;
}

ul#top_nav li a {
  text-align: center;
  height: 50px;
  width: 140px;
  line-height: 50px;
  color: #fff;
  display: block;
  text-decoration: none;
  text-shadow: 0 1px 0 #000;
 
  border-right: 1px solid #323235;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  
  background-image: -moz-linear-gradient(top, #535357, #3c3c3f);
  background-image: -ms-linear-gradient(top, #535357, #3c3c3f);
  background-image: -webkit-linear-gradient(top, #535357, #3c3c3f);
  background-image: linear-gradient(top, #535357, #3c3c3f);
  
  -webkit-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;
     -moz-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;
          box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;

}

ul#top_nav li a:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
  background-image: -moz-linear-gradient(top, #565658, #313132);
  background-image: -ms-linear-gradient(top, #565658, #313132);
  background-image: -webkit-linear-gradient(top, #565658, #313132);
  background-image: linear-gradient(top, #565658, #313132);
  
  -webkit-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;
      -moz-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;
           box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;
}

ul#top_nav li a:active  {
  background: #414142;
  -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0, 0.2);
      -moz-box-shadow: inset 0 2px 3px rgba(0,0,0, 0.2);
           box-shadow: inset 0 2px 3px rgba(0,0,0, 0.2);
}


/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {
  
  #container {
    width: 94%;
  }

  #sidebar1 {
    width: 30%;
  }

  #content {
    width: 40%;
    float: left;
  }
  
  #sidebar2 {
    width: 20%;
    float: left;
  }
}

/* for 800px or less */
@media screen and (max-width: 800px) {

  #sidebar1 {
    display: none;
  }
  
  #content {
    width: 60%;
    float: left;
  }
  
  #sidebar2 {
    width: 40%;
    float: right;
  }

}

/* for 500px or less */
@media screen and (max-width: 500px) {

  #header {
    display: none;  
  }

  #content {
    width: 80%;
    margin-left: 30px;
    float: left;
  }

  #sidebar2 {
    display: none;
  }

}

#header, #content, #sidebar {
  margin-bottom: 5px;
}
#container, #header{
  border: solid 1px #ccc;
}
​